Repository KY64/playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(lint-staged): rename lint-staged config file
  lint-staged.config.js
Due: prettier --write, eslint --fix

chore: add eslintignore
  .eslintignore
Due: none

feat: created pages
  public/able-bio.svg
  src/components/Foobar.tsx
  src/components/Layout.tsx
  src/components/Navbar.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/about/index.tsx
  src/pages/blog/index.tsx
  src/pages/index.tsx
  src/pages/project/index.tsx
  src/styles/style.css
  src/styles/theme/color.ts
  src/styles/theme/components/Button.ts
  src/styles/theme/components/Link.ts
  src/styles/theme/components/index.ts
  src/styles/theme/config.ts
  src/styles/theme/index.ts
  src/styles/theme/style.ts
Due: prettier --write, eslint --fix

chore: add open-sans, prismic, and swr package, change scripts
  package.json
  yarn.lock
Due: prettier --write

chore(lint-staged): shorten expression
  lint-staged.config.js
Due: prettier --write, eslint --fix

build: upgrade to next-11.1.1-canary.10
  yarn.lock
Due: none

build(deps): add MDX and prism-react-renderer package
  package.json
  yarn.lock
Due: prettier --write

chore: change environment variable
  .env.example
Due: none

chore: add google and github url
  next.config.js
Due: prettier --write, eslint --fix

feat: cms-integration
  src/components/Blockquote.tsx
  src/components/CodeBlock.tsx
  src/components/Foobar.tsx
  src/components/Heading2.tsx
  src/components/Heading3.tsx
  src/components/Image.tsx
  src/components/Layout.tsx
  src/components/List.tsx
  src/components/Serializer.tsx
  src/components/index.tsx
  src/config/environment.ts
  src/config/index.ts
  src/config/type.ts
  src/lib/cms.ts
  src/lib/fetch.ts
  src/lib/utils.ts
  src/pages/_app.tsx
  src/pages/about/index.tsx
  src/pages/blog/[uid].tsx
  src/pages/blog/index.tsx
  src/pages/index.tsx
  src/pages/project/index.tsx
  src/styles/style.css
  src/styles/theme/style.ts
Due: prettier --write, eslint --fix

docs: add Markdown
  README.md
Due: prettier --write

fix: lint error
  src/pages/blog/[uid].tsx
  src/styles/theme/components/Link.ts
Due: prettier --write, eslint --fix

feat: add mobile-view
  .yarn/releases/yarn-3.0.1-rc.2.cjs
  .yarn/releases/yarn-3.1.0-rc.2.cjs
  .yarnrc.yml
  package.json
  src/components/Foobar.tsx
  src/components/Layout.tsx
  src/lib/utils.ts
  src/pages/_app.tsx
  src/pages/about/index.tsx
  src/pages/blog/[uid].tsx
  src/pages/index.tsx
  src/pages/project/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

build: add 'sharp' package
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,json,md,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
